@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
* {
    transition: all .1s ease-in-out;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 1rem;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


/* Chrome, Edge, Safari */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
}